
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    background: rgb(171, 171, 171);
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.container input{
    margin: 10px 5px;
    width: 50%;
}
#addElem{
    width: 20%;
    border-radius:  15px;
    padding: 5px;
    border-color: aliceblue;
}
#addtext{
    height: 25px;
    width: 50%;
}
ul{
    width: 50%;
    margin: 0;
    padding:0 ;
}
#list li a {
    text-decoration: none;
    color: rgb(1, 2, 2);
}
ul li  {
    list-style-type: none;
    margin-bottom: 3px;
    width: 100%;
    height: 30px;
    background-color: rgba(233, 223, 223, 0.192);
    border: 1px solid gray;
}
#findtext{
    height: 25px;
    width: 50%;
    margin-bottom:30px;
}
